
/* General styles */
body {
    font-family: 'Roboto', serif;
    background-color: #FFFFFF;
    margin: 20px;
}

body {
    font-family: Arial, sans-serif !important;
}


/* Header and Navigation Styles */
header {
    width: 100%;
    margin-bottom: 20px;
}

header h1 {
    font-size: 70px;
    color: #000000;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    background: #B9E4ED;
    border-radius: 8px;
    padding: 5px 10px;
}

p {
    font-size: 20px;
}

/* Main Content Styles */
main section p {
    font-size: 32px;
}

main section ul {
    list-style: none;
    padding: 0;
}

main section li {
    font-size: 20px;
}

.live-text {
    color: green; 
    font-weight: bold; 
}

.non-live-text {
    color: red;
    font-weight: bold; 
}



/* Footer Styles */
footer {
    margin-top: 20px;
}

footer a {
    text-decoration: underline;
    color: #000000;
    font-size: 18px;
}

/* Unique Layout for index.html */
main {
    display: flex;
    justify-content: space-between;
}

main section {
    width: 40%;
}

main img {
    width: 612px;
    height: 612px;
}


